@-ms-viewport{ width: device-width; }
.navbar_nav {
    height: 50px;
    background-color: rgb(0, 183, 255);
    position: absolute;
    z-index: 3;
    font-family: 'Lato', sans-serif;
    color: white;
}
.navbar{
    margin-bottom: 50px !important;
  }
  
  .navbar_nav,
  .menu_a { width: 100%; }
  
  .menu_li,
  .menu_a { display: inline-block; }
  
  .menu_li {
    width: 25%;
    float: left;
    opacity: 0.8;
    text-align: center;
    height: 50px;
    background-color: rgb(0, 183, 255);
  }
  
  .menu_a { padding: 16px 0; }
  
  .menu_li:hover,
  .menu_a:hover {
    background-color: rgb(1, 144, 201);
    opacity: 1;
  }
  
  #menu-acces {
    display: none;
    width: 100%;
    position: relative;
    text-align: center;
  }
  
  .menu_open:after {
    content: "";
    display: table;
  }
  h1{
      padding-top: 100px;
      z-index: 1
  }
  .form-box {
    max-width: 500px;
    margin: auto;
    padding: 50px;
    background: #ffffff;
    border: 10px solid #f2f2f2;
    text-align: center;
  }
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(0, 183, 255);
    color: white;
    text-align: center;
    font-family: 'Lato', sans-serif;
    margin-top: 50px;
 }