@-ms-viewport{ width: device-width; }
.navbar_nav {
    height: 50px;
    background-color: rgb(0, 183, 255);
    position: fixed;
    z-index: 3;
    font-family: 'Lato', sans-serif;
}
.navbar{
    margin-bottom: 50px !important;
  }
  
  .navbar_nav,
  .menu_a { width: 100%; }
  
  .menu_li,
  .menu_a { display: inline-block; }
  
  .menu_li {
    width: 25%;
    float: left;
    opacity: 0.8;
    text-align: center;
    height: 50px;
    background-color: rgb(0, 183, 255);
  }
  
  .menu_a { padding: 16px 0; }
  
  .menu_li:hover,
  .menu_a:hover {
    background-color: rgb(1, 144, 201);
    opacity: 1;
  }
  
  #menu-acces {
    display: none;
    width: 100%;
    position: relative;
    text-align: center;
  }
  
  .menu_open:after {
    content: "";
    display: table;
  }
  h1{
      padding-top: 60px;
  }